[Unit]
Description=Hardware Server for https://github.com/indiekiwi/raspberrypi-wigglegram-camera
After=network.target

[Service]
ExecStart=/usr/bin/python3 YOUR_BASE_DIRECTORY/wigglegram/hardware-server.py
WorkingDirectory=YOUR_BASE_DIRECTORY
StandardOutput=journal
StandardError=journal
Restart=always
User=YOUR_USER

[Install]
WantedBy=multi-user.target
