[Unit]
Description=Web Server for https://github.com/indiekiwi/raspberrypi-wigglegram-camera
After=network.target

[Service]
ExecStart=/usr/bin/python3 YOUR_BASE_DIRECTORY/web-server.py
WorkingDirectory=YOUR_BASE_DIRECTORY
Restart=always
User=YOUR_USER
Group=YOUR_GROUP

[Install]
WantedBy=multi-user.target
